body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center; /* Centrage horizontal du contenu */
  align-items: center; /* Centrage vertical du contenu */
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.page-title {
  color: #bad8b6; /* Gris foncé */
  margin-bottom: 40px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacement entre les boutons */
}

.btn-primary {
  background-color: #bad8b6; /* Gris foncé */
  border: none;
  color: #2c2c2c;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #61b390; /* Vert foncé */
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #bad8b6; /* Gris foncé */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  left: 0; /* Position à gauche */
}

.sidebar h3, .sidebar h2 {
  margin-left: 10px;
}

.user-logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}
/*
.app-name {
  margin-bottom: 20px;
  color: white;
  font-size: 18px;
}*/

.student-name {
  margin-bottom: auto;
  font-size: 18px;
  font-weight: bold;
  color: #2c2c2c;
}

.logout {
  margin-bottom: 20px;
}

.logout .btn {
  width: 100%;
  background-color: #dc3545; /* Rouge */
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.logout .btn:hover {
  background-color: #c82333; /* Rouge foncé */
}
