body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le conteneur */
    font-family: 'Poppins', sans-serif;
}

.bouton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.btn-primary {
    background-color: #bad8b6;
    border: none;
    color: #2c2c2c;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #61b390;
}

.btn-danger {
    background-color: #dc3545; /* Rouge */
    color: white;
    border: none;
    padding: 10px 20px; /* Added padding for consistency */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-danger:hover {
    background-color: #c82333; /* Rouge foncé */
}
