.button-row {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les boutons */
    margin-left: 20px;
    margin-right: 20px;
}
  
.btn-primary {
    background-color: #bad8b6; /* Gris foncé */
    border: none;
    color: #2c2c2c;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
.btn-primary:hover {
    background-color: #61b390; /* Vert foncé */
}

.logout .btn {
    width: 100%;
    background-color: #dc3545; /* Rouge */
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
.logout .btn:hover {
    background-color: #c82333; /* Rouge foncé */
}