* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  background-color: #6d8077; /* Light gray background */
}

header {
  background-color: #556b55; /* Dark green */
  color: rgb(166, 163, 163);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#user-info span {
  color: rgb(0, 0, 0);
  margin-left: 20px;
}

button#menu-toggle {
  background: none;
  border: none;
  color: rgb(14, 14, 14);
  font-size: 24px;
  cursor: pointer;
}

.sidebar {
  width: 0; /* Start with sidebar hidden */
  background-color: #333333; /* Dark gray */
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: width 0.3s; /* Transition for toggling visibility */
  z-index: 1000;
}

.sidebar.expanded {
  width: 250px; /* Width of the sidebar when expanded */
}



.sidebar-header .logo {
  width: 150px; /* Increased size */
  margin-bottom: 10px;
}

.sidebar-header .year {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}

.sidebar nav {
  margin-top: 20px;
}

.sidebar nav a {
  padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  color: #8f8d8d;
  display: block;
  transition: background-color 0.3s;
}

.sidebar nav a:hover {
  background-color: #555555; /* Slightly lighter gray on hover */
}

.user-info {
  padding: 15px 30px;
  font-size: 16px;
  color: #8f8d8d;
  margin-top: 20px;
}

.main-content {
  transition: margin-left 0.3s;
  padding: 20px;
  margin-left: 0; /* No margin when sidebar is hidden */
}

.main-content.shifted {
  margin-left: 250px; /* Align content when sidebar is expanded */
}

.main-content h2, .main-content p {
  text-align: center;
  color: #333;
}

.main-content h2:first-of-type {
  margin-bottom: 20px;
}
