{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <link rel="stylesheet" href="{% static 'epresence_api/styles/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'epresence_api/styles/affichage_csv.css' %}"/>
    {% endblock %}
    <title>{{ title }}</title>
</head>
<body>
    <div class="bouton">
    <div class="button-row">
        <a href="{% url 'epresence_api:download_csv' %}" class="btn btn-primary">Télécharger</a>
        <a href="{% url 'epresence_api:home' %}" class="btn btn-primary">Retour</a>
    </div>
    <div class="logout">
        <a href="{% url 'epresence_api:logout' %}" class="btn btn-danger">Déconnexion</a>
    </div>
    </div>
    <div class="container">
        <h3>{{ title }} de {{ first_name }} {{ last_name }}</h3>
        <table>
            <thead>
                <tr>
                    {% for header in csv_data.0.keys %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in csv_data %}
                    <tr>
                        {% for cell in row.values %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

