<!doctype HTML>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf_8"/>
        <title>Epresence</title>
        {% block styles %}
            <link rel="stylesheet" href="{% static 'epresence_api/styles/index.css' %}">
        {% endblock %}
    </head>

    <body>
        <header>

        </header>

        <section id="Error_section">
            {% block content %} {% endblock %}
        </section>

        <footer>
            <p>Projet fin année ENSISA groupe 2</p>
        </footer>

        {% block js %}
            <!-- spript here -->
        {% endblock %}
    </body>
</html>
