{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'epresence_api/styles/common.css' %}"/>
    <title>Choix Seance</title>
</head>
<body>
  <div class="container">
    <h2>Choisir la Seance</h2>
    <form action="{% url 'epresence_api:select_seance' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="seance" class="form-label">Seance</label>
        <select id="seance" name="seance" class="form-control">
          <!-- Add your seance options here -->
          <option value="seance1">Seance 1</option>
          <option value="seance2">Seance 2</option>
          <!-- More seances can be added here -->
        </select>
      </div>
      <button type="submit" class="button">Valider</button>
    </form>
  </div>
</body>
</html>
