<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphique {{nom_graphique}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- Inclure Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Inclure Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            background-color: #333; /* dark gray background */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* full viewport height */
            margin: 0;
            color: #fff; /* white text color */
        }
        .container {
            height: 80%;
            width: 80%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Graphique</h1>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <script>
        // Récupérer les données depuis Django
        var dataFromDjango = {{ data_from_django | safe }};
        
        // Configurer les données pour Chart.js
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: dataFromDjango.labels,
                datasets: [{
                    label: 'note',
                    data: dataFromDjango.data,
                    backgroundColor: 'rgba(255, 99, 132, 1)',
                    borderColor: 'rgba(255, 255, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</body>

</html>