{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href =  "{% static 'styles/Login.css' %}"/>
    <title>Login Page</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <!-- Error message -->
        <p class="error"></p>
        <form action="/api/auth/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" required />
            </div>
            <div class="form-group">
                <label for="mdp">Password:</label>
                <input type="password" required />
            </div>
            <button value="Submit" class="login-button">Login</button>
        </form>
        <form action="/api/password/">
            <button type="button" class="forgot-password-button">J'ai oublié le mot de passe</button>
        </form>
    </div>
</body>
</html>

