{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block styles %}
    <link rel="stylesheet" href="{% static 'epresence_api/styles/Login.css' %}"/>
    {% endblock %}
    <title>Login Page</title>
</head>
<body>
    <section class="login-container">
        <h2>Connecte-toi</h2>
        <form action='login' method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="mon-pseudo" required/>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input class="erreur" type="password" name="password" id="mon-mdp"/>
            </div>
            <div class="form-group">
                <input type="submit" name="envoi" value="Valider" class="login-button"/>
            </div>
        </form>
    </section>
</body>
</html>
