{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel = "stylesheet" href =  "{% static 'styles/Login.css' %}"/>
        <title>Login Page</title>
    </head>
    <body>
        <section>
            <div id="erreur2">
                <h2>Connecte-toi</h2>
                    <form action='login' method="post">
                        {% csrf_token %}
                    <p>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="mon-pseudo" required/>
                    </p>
                    <p>
                        <label for="password">MOT DE PASSE</label>
                        <input class="erreur" type="password" name="password" id="mon-mdp"/>
                    </p>
                    <p>
                        <input type="submit" name="envoi" value="Valider" onclick="clignoter(),clignoterdiv()" />
                    </p>
                </form>
            </div>
        </section>
    </body>
</html>

