{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <link rel = "stylesheet" href =  "{% static 'epresence_api/styles/ChangePassword.css' %}"/>
    {% endblock %}
    <title>Login Page</title>
</head>
<div class="page-container">
  <div class="change-password-container">
    <h2>Changer le mot de passe</h2>
    <form action method="post">
        {% csrf_token %}
      <div class="form-group">
        <label for="password" class="form-label">Nouveau mot de passe</label>
        <input
          type="password"
          class="form-control"
          id="password"
          value=""
          onchange="setPassword(event.target.value)"
        />
      </div>
      <div class="form-group">
        <label for="confirm-password" class="form-label">Confirmez le mot de passe</label>
        <input
          type="password"
          class="form-control"
          id="confirm-password"
          value=""
          onchange="setConfirmPassword(event.target.value)"
        />
      </div>
      <button type="submit" class="change-button">Changer le mot de passe</button>
    </form>
    <p class="message"></p>
  </div>
</div>
