{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <link rel = "stylesheet" href =  "{% static 'epresence_api/styles/acceuilprof.css' %}"/>
    {% endblock %}
    <title>Login Page</title>
</head>
<div>
    <header>
      <div id="user-info">
        <span>E-PRESENCE</span>
        <span>USER</span>
      </div>
    </header>
    <div>
      <ul>
      <a href="{% url 'epresence_api:notes' %}">Évaluation</a>
      <a href="{% url 'epresence_api:absences' %}">Absences</a>
      </ul>
    </div>
    <div class="main-content" id="main-content" style="margin-left: 0;">
      <h2>{content.title}</h2>
      <p>{content.detail}</p>
    </div>
</div>