{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href =  "{% static 'styles/acceuilprof.css' %}"/>
    <title>Login Page</title>
</head>
<div>
    <header>
      <button id="menu-toggle" onclick="toggleSidebar()">☰</button>
      <select id="year-select">
        <option>2023/2024</option>
        <option>2022/2023</option>
      </select>
      <div id="user-info">
        <span>E-PRESENCE</span>
        <span>USER</span>
      </div>
    </header>
    <div class="sidebar" id="sidebar">
      <a href="#" onclick="changeContent('evaluation')">Évaluation</a>
      <a href="#" onclick="changeContent('absences')">Absences</a>
      <a href="#" onclick="changeContent('parametres')">Paramètres</a>
    </div>
    <div class="main-content" id="main-content" style="margin-left: 0;">
      <h2>{content.title}</h2>
      <p>{content.detail}</p>
    </div>
</div>