{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- Link to the external stylesheet using Django's static template tag -->
    {% block styles %}
    <link rel="stylesheet" href="{% static 'epresence_api/styles/accueil.css' %}">
    {% endblock %}
    
    <title>Espace Professeur</title>
</head>
<body>
    <div class="container mt-5 d-flex flex-column align-items-center">
        <!-- Page title -->
        <h1 class="mb-4 page-title">Mon Espace Professeur</h1>
        <div class="button-row">
            <!-- Links to different pages using Django's URL template tag -->
            <a href="{% url 'epresence_api:absences_perso' %}" class="btn btn-primary">Mes absences</a>
            <a href="{% url 'epresence_api:emploi_prof' %}" class="btn btn-primary">Mon emplois du temps</a>
            <a href="{% url 'epresence_api:notes_prof' %}" class="btn btn-primary">Notes étudiants</a>  
            <a href="{% url 'epresence_api:absences_cours' %}" class="btn btn-primary">Absences étudiants</a>  
        </div>
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- User logo -->
    <div class="user-logo">
        <img src="{% static 'epresence_api/images/E-Presence.png' %}" alt="User Logo">
    </div>
    <!-- App name -->
    <div class="app-name">
        <h2>Mon Espace Professeur</h2>
    </div>
    <!-- Student name -->
    <div class="student-name">
        <h3>Num. : {{ username }}</h3>
        <h3> {{ first_name }}</h3>
        <h3> {{ last_name }}</h3>
        
    </div>
    <!-- Logout link -->
    <div class="logout">
         <a href="{% url 'epresence_api:logout' %}" class="btn btn-danger">Déconnexion</a>
    </div>
</div>
</body>
</html>