{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href =  "{% static 'styles/ResetPassword.css' %}"/>
    <title>Login Page</title>
</head>
<div class="page-container">
    <div class="reset-password-container">
      <h2>Réinitialiser le mot de passe</h2>
      <form action method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="email" class="form-label">Adresse e-mail</label>
          <input
            type="email"
            class="form-control"
            id="email"
            value=""
            onchange="setEmail(event.target.value)"
          />
        </div>
        <button type="submit" class="reset-button">Envoyer</button>
        <button type="button" class="back-button" onclick="handleBackToLogin()">Retour à la connexion</button>
      </form>
      <p class="message"></p>
    </div>
  </div>