{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'epresence_api/styles/ResetPassword.css' %}"/>
    <title>Reset Password</title>
</head>
<body>
  <div class="reset-password-container">
    <h2>Réinitialiser le mot de passe</h2>
    <form action method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="email" class="form-label">Adresse e-mail</label>
        <input
          type="email"
          class="form-control"
          id="email"
          value=""
          onchange="setEmail(event.target.value)"
        />
      </div>
      <button type="submit" class="reset-button">Envoyer</button>
    </form>
    <a href="{% url 'epresence_api:loginview' %}" class="back-button">Retour à la connexion</a>
    <p class="message"></p>
  </div>
</body>
</html>
