{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the external stylesheet using Django's static template tag -->
    {% block styles %}
    <link rel="stylesheet" href="{% static 'epresence_api/styles/accueil-e.css' %}">
    {% endblock %}
    
    <title>Login Page</title>
</head>
<body>
    <div class="container mt-5 d-flex flex-column align-items-center">
        <!-- Page title -->
        <h1 class="mb-4 page-title">Mon Espace Étudiant</h1>
        <div class="button-row">
            <!-- Links to different pages using Django's URL template tag -->
            <a href="{% url 'epresence_api:notes' %}" class="btn btn-primary">Mes notes</a>
            <a href="{% url 'epresence_api:etudiant' %}" class="btn btn-primary">Mon profil</a>
            <a href="{% url 'epresence_api:absences' %}" class="btn btn-primary">Mes absences</a>
        </div>
  </div>
</body>
</html>
