{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <link rel = "stylesheet" href =  "{% static 'epresence_api/styles/accueil-e.css' %}"/>
    {% endblock %}
    <title>Login Page</title>
</head>
<div className="container mt-5 d-flex flex-column align-items-center">
    <h1 className="mb-4 page-title">Mon Espace Étudiant</h1>
    <div className="row justify-content-end mb-3">
            <h5 className="card-title">Notes</h5>
            <a href="{% url 'epresence_api:notes' %}">Mes notes</a>
    </div>

    <!--
    <div className="row justify-content-end mb-3">
            <h5 className="card-title">Profil</h5>
            <a href="{% url 'epresence_api:profil?' %}">Mon profil</a>
    </div>
    -->


    <div className="row justify-content-end">
            <h5 className="card-title">Absences</h5>
            <a href="{% url 'epresence_api:absences' %}">Mes absences</a>
    </div>
    <div className="row justify-content-end mb-3">
      <h5 className="card-title">Profil</h5>
      <a href="{% url 'epresence_api:emploi_eleve' %}">Mon emploi du temps</a>
    </div>
  </div>