.ConseilsContainer {
  background-color: #444; /* gris foncé */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px; /* Augmentez la largeur */
  margin-left: 20px;
  color: #fff; /* blanc */

  h2{
    text-align: center;
    margin-bottom: 20px;
  
  }

  p{
    margin: 10px 0;
  }

}