/* General Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #a2c1a7; /* Refreshing green background */
}

/* Header styles */
header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #eee;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px; /* Hidden initially */
    background-color: #333;
    color: white;
    transition: left 0.3s;
    z-index: 1500;
    padding-top: 60px; /* Adjusted padding */
}

.sidebar.expanded {
    left: 0; /* Sidebar becomes visible */
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background 0.3s;
}

.sidebar a:hover, .sidebar a:focus {
    background-color: #555;
}

#menu-toggle {
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    border: none;
    background: none;
    color: rgb(18, 14, 14);
    font-size: 24px;
    z-index: 1600;
}

/* Table styles */
.table-container {
    margin: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #2d5e2e; /* Dark green for header */
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Zebra striping for rows */
}

tbody tr:hover {
    background-color: #858181; /* Hover color for rows */
}

/* Button styles */
button, select {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #418043; /* Consistent button background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #336135; /* Darker shade for hover state */
}

button[disabled] {
    background-color: #9e9e9e; /* Grey out disabled buttons */
}

.action-buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.action-buttons button {
    margin: 0 10px; /* Space between buttons */
}

/* Form styles */
.form-notes input, .form-notes select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 4px;
}

.form-notes button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #36742e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .sidebar, header {
        width: 100%;
        left: 0;
    }

    .main-content {
        padding-left: 0;
    }

    .sidebar.expanded {
        position: absolute;
    }
}
