body {
  background-color: #333; /* Fond de page gris foncé */
  display: flex;
  justify-content: flex-end; /* Aligner le contenu à droite */
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #f0f0f0; /* Couleur du texte blanc cassé */
}

.login-container {
  background-color: #555; /* gris moyen */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px; /* Augmentez cette valeur pour rendre le conteneur plus large */
  margin-right: 180px; /* Espacement par rapport au bord droit */
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* Couleur du texte blanc */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #ddd; /* Couleur du texte gris clair */
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #777; /* gris foncé pour la bordure */
  border-radius: 4px;
  background-color: #444; /* gris foncé pour le fond */
  color: #fff; /* blanc pour le texte */
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745; /* vert écologique */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #218838;
}
