body {
  margin: 0;
  font-family: 'Arial', sans-serif; /* Ensures font consistency */
  background-color: #f4f4f4; /* Light grey background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height */
  overflow: hidden; /* Avoid scrolling */
}

.container {
  width: 95%; /* Slightly reduced width for better margins */
  background-color: #53976a; /* Background color for the container */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft box shadow for 3D effect */
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%; /* Full width for alignment */
}

form input, form select {
  padding: 10px;
  background-color: #444; /* Dark grey background */
  border: 1px solid #555;
  color: #fff; /* White text for contrast */
}

form input[readonly] {
  background-color: #666; /* Slightly lighter grey for readonly inputs */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Space above the table */
}

th, td {
  padding: 12px 15px; /* Slightly more padding for a better look */
  border: 1px solid #130a0a; /* Lighter border color */
}

th {
  background-color: #4CAF50; /* Green background */
  color: rgb(0, 0, 0);
}

td {
  background-color: #8aa18d; /* Light grey background for cells */
}

td input {
  width: 100%;
  padding: 8px;
  background-color: #fff; /* White background for input fields */
  border: 1px solid #ccc; /* Light grey border */
  color: #333; /* Darker text color for visibility */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Spacing between buttons */
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #367B48; /* Darker green on hover */
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 5px;
}

.pagination li {
  background-color: #4CAF50; /* Consistent green background for pagination */
  padding: 8px 12px;
  cursor: pointer;
}

.pagination li a {
  color: white; /* White text for pagination links */
  text-decoration: none;
}

.pagination li a:hover {
  color: #def; /* Lighter color on hover */
}

.pagination .active a {
  color: #fff; /* White text for active page */
}
